__pycache__
.artifacts
.datasets
.artifacts
.demo_datasets
.demo_artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
*.egg-info
.env
.env.local
.env.*.local
.localstack/
coverage.json
.coverage.*